/course-info.yaml
/course-remote-info.yaml
/Knight's Tour Puzzle/lesson-info.yaml
/requirements.txt
/Knight's Tour Puzzle/And now for something completely different_/task.html
/Knight's Tour Puzzle/Give me an answer/task.html
/Knight's Tour Puzzle/How far will your knight go/task.html
/Knight's Tour Puzzle/Looking ahead/task.html
/Knight's Tour Puzzle/Setting up the board/task.html
/Knight's Tour Puzzle/Where to next/task.html
/Knight's Tour Puzzle/And now for something completely different_/task-info.yaml
/Knight's Tour Puzzle/Give me an answer/task-info.yaml
/Knight's Tour Puzzle/How far will your knight go/task-info.yaml
/Knight's Tour Puzzle/Looking ahead/task-info.yaml
/Knight's Tour Puzzle/Setting up the board/task-info.yaml
/Knight's Tour Puzzle/Where to next/task-info.yaml
/Knight's Tour Puzzle/And now for something completely different_/task-remote-info.yaml
/Knight's Tour Puzzle/Give me an answer/task-remote-info.yaml
/Knight's Tour Puzzle/How far will your knight go/task-remote-info.yaml
/Knight's Tour Puzzle/Looking ahead/task-remote-info.yaml
/Knight's Tour Puzzle/Setting up the board/task-remote-info.yaml
/Knight's Tour Puzzle/Where to next/task-remote-info.yaml
/Knight's Tour Puzzle/task/tests.py
